.contactWrapper{
    padding: 6vw 12vw;
    background-color: rgb(18, 14, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactSubtitle{
    font-size: clamp(40px, 5vw, 2.6rem);
    font-weight: 600;
    text-align: center;
}
.contactText{
    color: rgb(163, 168, 195);
    text-align: center;
    font-size: 1.4rem;
    max-width: 600px;
}
.contactButton{
    margin-top: 50px;
    padding: 10px 20px;
    border: 2px solid rgb(6, 147, 227);
    color: rgb(6, 147, 227);
    border-radius: 30px;
    font-size: 1.3rem;
    cursor: pointer;
}
.contactButton:hover{
    background-color: rgba(6, 147, 227, 0.1);
}

@media (max-width: 768px) {
    .contactWrapper{
        padding: 6vw 6vw;
    }
}